@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display:none;
  }

  .scrollbar:hover::-webkit-scrollbar {
    display:block;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ededf7;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #cbcbfd;
    border-radius: 100vh;
    border: 1px solid #ededf7;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ededf7;
  }
}

/* https://tailwindcss.com/docs/reusing-styles#extracting-classes-with-apply */
@layer components {
  .default-menu-skin {
    @apply border-gray-200/50 bg-gray-100;
  }

  .home-main {
    @apply flex h-screen justify-between;
  }

  .main-menu-wtext {
    @apply flex h-screen justify-between;
  }

  .main-menu-ocons {
    @apply flex flex-col w-14 border-r-2 default-menu-skin;
  }

  .menu2-sub {
    @apply border-r-2 border-gray-300;
  }
  
}